# Environment variables
#.env
*.local

# Node modules
node_modules/

# Build and distribution folders
dist/
dist-ssr/

#for npm
install.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Dependency lock files (optional, depending on your preference)
package-lock.json
yarn.lock
pnpm-lock.yaml
